<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LBFox - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("header", required: false)
</head>
<body>
    @{ Html.RenderAction("Header", "Home", new { ViewBag.ActiveMenu });}
    <main class="container" role="main">
        <h1 class="mt-5">@ViewBag.Title</h1>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year LBFox</p>
        </footer>
    </main>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
